<div class="row">
  <div class="column">
    <h1 id="index-page">Join a Game</h1>
    <input type="text" id="gameName">
    <button id="jg" onClick="go()">Join Game</button>
  </div>
</div>


<script>
	function go() {
		//var link = "https://www.w3schools.com/jsref/event_onclick.asp";
		var link = "http://locahost:4000/game/" + document.getElementById("gameName").value;
		window.location.replace(link);
	}
</script>

